<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DefaultSoap" receiveTimeout="01:00:00" sendTimeout="01:00:00"
                    allowCookies="true" maxReceivedMessageSize="65555555" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/Demo600u5/entity/Default/6.00.001"
                binding="basicHttpBinding" bindingConfiguration="DefaultSoap"
                contract="Default.DefaultSoap" name="DefaultSoap" />
        </client>
    </system.serviceModel>
</configuration>